{{! <div class="card"> }}
{{!-- <img class='card-img-top p-3' src='{{this.img}}' alt='{{this.title}}' /> --}}
{{!-- <div class='card-body'>
  <p class='card-title'>{{this.title}}</p>
  <p class='card-text'>By: {{this.author}}</p>
</div> --}}
{{! </div> }}